// Colors
$color-primary: #F55A5A;
$color-text: #2B283A;
$color-links: #918E9B;

// Responsive breakpoints

@mixin responsive($breakpoint) {
    @media screen and (max-width: $breakpoint){
        @content;
    }
}